In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('ex2data1.txt',header=None)

In [8]:
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [9]:
X,y=df.iloc[:,:-1],df.iloc[:,-1]

In [21]:
# visualize
pos,neg=(y==1),(y==0)
# pos
# plt.scatter(X[pos,0],X[pos,1])

In [22]:
def sigmoid(z):
    1/(1+np.exp(-z))

In [23]:
def cost(x,y,theta):
    m=len(y)
    H=sigmoid(np.dot(X,theta))
    error=(-y*(np.log(H))-(1-y)*(np.log(1-H)))
    cost=(1/m)*sum(error)
    diff=(1/m)*np.dot(np.transpose(X),(H-y))
    return cost,diff

In [24]:
def normalize(X):
    x_mean=np.mean(X)
    x_std=np.std(X)
    X_norm=(X-x_mean)/x_std
    return X_norm

In [25]:
m,n=X.shape[0],X.shape[1]
X=np.append(np.ones((m,1)),X,axis=1)

SyntaxError: invalid syntax (2578136258.py, line 1)

(100, 2)